*{
  margin: 0;
  padding: 0;
  font-family:'Poppins',sans-serif;
  box-sizing: border-box;
}

.hero{
  width: 1005;
  min-height: 100vh;
  background: linear-gradient(45deg, #08001f, #30197d);
  color: #fff;
  position: relative;
}

.container{
  width: 800px;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.clock{
  width:100%;
  height:100%;
  background: rgba(235, 0, 255, 0.11);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter:blur(40px);
}
.container::before{
  content: '';
  width:140px;
  height:140px;
  background:#f41b75;
  position:absolute;
  border-radius: 20px;
  left:-50px;
  top:-50px;
  z-index: -1;
}
.container::after{
  content: '';
  width:140px;
  height:140px;
  background:#419aff;
  border-radius: 50%;
  position:absolute;
  right:-50px;
  bottom:-50px;
  z-index: -1;
}
.clock span{
  font-size: 88px;
  width: 110px;
  display: inline-block;
  text-align: center;
  position: relative;
}
.clock span::after{
  font-size:16px;
  position:absolute;
  bottom: -5px;
  left:50%;
  transform: translate(-50%);
}
#hour::after{
  content:'HOURS';
}
#minute::after{
  content:'MINS';
}
#second::after{
  content:'SEC'
}
